<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Welcome! My name is Chris Nettles.</h1>
    <div class="col-lg-6 mt-5 mx-auto">
      <p class="lead">Enthusiastic by nature, I am an avid designer and developer with experience in building Websites, Games, and Software.</p>
      <!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div> -->
    </div>
    <div class="overflow-visible" style="max-height: 350vh;">
      <div class="container px-5 pb-10">
        <!-- Todo: Center image when scaling-->
        <img src="images/picture.png"  alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>