<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") -%>
    </head>
    <body>

        <header>
            <%- include("../partials/header.ejs") -%>
        </header>
        
        <%- include("../partials/homeHero.ejs") -%>

    </body>
    <footer>

    </footer>
</html>